#wrapper {
    background:rgb(195,196,197);
}

header {

    text-align: center;
}

.article-header {
    background:#ffffff;
}

nav, aside {
    background:#dddddd;
    width:100px;
    float: left;
}

article {
    /*border: 1px solid #000000;*/
    background: #ffffff;
    width:300px;
    float: left;
}

#page-footer {
    clear:left;
    background:#dddddd;
}
