    a:link {text-decoration:none;}
    a:visited {text-decoration:none;}
    a:hover {text-decoration:underline;}
#header {
  background-color: #c1c2c3;
    border: 5px double #5f5f5f;
}

#nav a {
    color: #439e8e;
    width: 80px;
    margin: 20px;
    padding: 25px 50px;
    background-color: #ffffff

}

#container {
    color: #ffffff;
    border: 5px double #5f5f5f;
}
